.login-page-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.login-sub{
    padding-bottom: 1rem;
}
.login-container{
    background-color: var(--light-grey);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 1.2rem;
}
.login-img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}
.login-header{
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}
.field{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 1rem;
}
.field > input{
    border: solid var(--dark-grey) 2px;
    font-size: 1.3rem;
    padding: 0.4rem 1.2rem;
    border-radius: 15px;
}
.login-btn{
    background-color: var(--acc-light);
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}
@media screen and (max-width:1037px) {
    .login-img{
        display: none;
    }
    .hero-container{
        width: 90%;
    }
    .login-page-container{
        flex-direction: column;
        padding-top: 2rem;
        justify-content: flex-start;
    }
    .login-container{
        padding: 1rem;
    }
}