<div class="login-page-container">
    <section class="hero-container">
        <h1 class="login-header">Explorez les différentes fonctionnalités de notre plateforme</h1>
        <h1 class="login-sub">Gérez vos transactions d'une manière simple et efficace </h1>
        <img class="login-img" src="../../assets/login-hero.svg" alt="">
    </section>
    <div class="login-container">
        <h1 class="login-header">Connexion</h1>
        <div class="field">
            <label for="username">Nom d'utilisateur : </label>
            <input type="text" name="username" id="username" class="username-input">
        </div>
        <div class="field">
            <label for="password">Mot de passe : </label>
            <input type="{{(pwShown)?'text':'password'}}" name="password" id="password" class="password-input">
            
            <label for="show-password">
                <input [(ngModel)]="pwShown"  type="checkbox" name="show-password" id="show-password">
                Afficher le mot de passe
            </label>
        </div>
        <button class="login-btn">Valider</button>

    </div>
</div>