<div class="clients-page-container">
    <h1 class="clients-title">Mes bénéficiaires :</h1>
    <div class="table-container">
        <div class="table-tools">
            <div class="search-tool">
                <input type="text" name="search-input" [(ngModel)]="searchTerm" id="search-input" placeholder="Rechercher un bénéficiaire" class="search-input">
                <button class="search-btn" (click)="handleSearch()">Rechercher</button>
            </div>
            <button (click)="openModal($event)"  class="search-btn">Ajouter</button>
        </div>
        <h1 class="empty-msg" *ngIf="isTableEmpty">Pas de bénéficiaires</h1>
        <div *ngIf="!isTableEmpty" class="table-div">
            <table class="client-datatable">
                <tr class="table-head">
                    <th><label class="checkbox-container">
                        <input  type="checkbox" [(ngModel)]="isSelectAllChecked" (input)="selectAll($event)">
                    <div class="checkmark"></div>
                    </label></th>
                    <th>ID</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                </tr>
                <tr class="table-row" (click)="openEditModal(benef.id)" *ngFor="let benef of renderedBenefs">
                    <td (click)="handleClickOnRadio($event)">
                        <label class="checkbox-container">
                            <input checked="checked" type="checkbox" (input)="handleSelectRow()" [(ngModel)]="benef.selected">
                            <div class="checkmark"></div>
                        </label>
                    </td>
                    <td>{{benef.id}}</td>
                    <td>{{benef.prenom}}</td>
                    <td>{{benef.nom}}</td>
                    <td>{{benef.email}}</td>
                    <td>{{benef.phone}}</td>
                </tr>
            </table>
            

        </div>
    </div>
    <!--Modal for creating client-->
    <div class="{{modalClass}}" (click)="closeModal($event)">
        <div class="modal-container" (click)="stopPropagation($event)">
            <h1 class="subtitle">Ajouter un bénéficiaire :</h1>
            <div class="grid-container">
                <div class="client-form">
                    <div class="client-field" *ngFor="let key of getObjectKeys(labels)">
                        <label class="field-label" for="{{ key }}">{{ labels[key] }}</label>
                    
                        <ng-container [ngSwitch]="key">
                          <input class="field-input"
                            type="text"
                            id="{{ key }}"
                            [(ngModel)]="beneficiaire[key]"
                          />
                        </ng-container>
                      </div>
                    </div>
                    <button class="add-btn save-btn">Valider</button>
        </div>
    </div>
    </div>
    <div class="{{editModalClass}}" (click)="closeEditModal()">
        <div class="modal-container" (click)="stopPropagation($event)">
            <h1 class="subtitle">Modifier le bénéficiaire :</h1>
            <div class="grid-container">
                <div class="client-form">
                    <div class="client-field" *ngFor="let key of getObjectKeys(labels)">
                        <label class="field-label" for="{{ key }}">{{ labels[key] }}</label>
                    
                        <ng-container [ngSwitch]="key">
                          <input class="field-input"
                            type="text"
                            id="{{ key }}"
                            [(ngModel)]="editBenef[key]"
                          />
                        </ng-container>
                      </div>
                    </div>
                    <button class="add-btn save-btn">Valider</button>
        </div>
    </div>  
    <!--modal to edit-->
    

</div>