<div class="home-container m-9 h-[70vh] justify-around items-center">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-h">L’application E-Wallet est à votre service!</h1>
      <p class="hero-par">
        Transférez l'argent depuis votre compte E-Wallet quand vous le
        souhaitez, où que vous soyez, et de la manière qui vous convient le
        mieux !
      </p>
    </div>
    <div class="hero-img">
      <img src="../../assets/ewallet-hero.svg" alt="" />
    </div>
  </div>
  <div class="home-actions">
    <a class="action-btn primary">Explorer l'application</a>
    <a class="action-btn secondary">Mon Compte</a>
  </div>
</div>
