<div class="p-3 mt-5 flex-col sm:w-full">
  <!-- Montant -->
  <div class="flex flex-col space-y-4">
    <p class="text-xl font-semibold ms-2">
      Emission de transfert de la part de {{ ClientData.nom }}
      {{ ClientData.prenom }}:
    </p>
    <div class="flex items-center justify-center">
      <div
        class="flex flex-col items-start sm:items-center sm:justify-center space-y-5 ps-3 pe-3"
      >
        <div
          class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-between sm:space-x-5"
        >
          <p class="font-medium text-lg mb-3 sm:mb-0">Montant à envoyer :</p>
          <div class="">
            <input
              type="number"
              id="simple-search"
              [(ngModel)]="montant"
              class="bg-[#fff] border border-[#b9b8b8] text-[#494949] text-sm rounded-full focus:border-[#f94449] focus:outline-none block ps-10 pe-10 pt-3 pb-3"
              placeholder="Montant"
              required
            />
          </div>
        </div>
        <p class="text-lg font-medium">
          Solde disponible : {{ ClientData.solde }} DH
        </p>
      </div>
    </div>
  </div>
  <hr class="h-px my-6 mx-4 bg-gray-300 border-0" />
  <!-- Part 2 : Fees Calculation -->
  <div class="flex flex-col space-y-4 p-3">
    <p class="text-xl font-semibold ms-2">Frais :</p>

    <div class="flex items-center justify-center">
      <div class="radio-buttons-container">
        <div class="radio-button">
          <input
            name="radio-group"
            id="radio2"
            class="radio-button__input"
            type="radio"
            value="donor"
            (change)="changeWhoPayFees($event)"
          />
          <label for="radio2" class="radio-button__label">
            <span class="radio-button__custom"></span>

            <p class="text-wrap leading-6 sm:text-nowrap">
              Frais a la charge du client de donneur d'ordre
            </p>
          </label>
        </div>
        <div class="radio-button">
          <input
            name="radio-group"
            id="radio1"
            class="radio-button__input"
            type="radio"
            value="beneficiary"
            (change)="changeWhoPayFees($event)"
          />
          <label for="radio1" class="radio-button__label">
            <span class="radio-button__custom"></span>

            <p class="text-wrap leading-6 sm:text-nowrap">
              Frais a la charge du client bénéficiaire
            </p>
          </label>
        </div>
        <div class="radio-button">
          <input
            name="radio-group"
            id="radio3"
            class="radio-button__input"
            type="radio"
            value="shared"
            (change)="changeWhoPayFees($event)"
          />
          <label for="radio3" class="radio-button__label">
            <span class="radio-button__custom"></span>

            <p class="text-wrap leading-6 sm:text-nowrap">
              Frais partagés entre les clients (Donneur d'ordre et bénéficiaire)
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr class="h-px my-6 mx-4 bg-gray-300 border-0" />
  <!-- Part 3: Choose Benificary -->
  <div class="flex flex-col space-y-4">
    <p class="text-xl font-semibold ms-2">Bénéficiaire :</p>
    <div class="flex items-center justify-center">
      <div class="radio-buttons-container2">
        <!-- ! Choose Existing Benificary -->
        <div class="radio-button">
          <input
            name="radio-group2"
            id="radioChooseExistingBenificiary"
            class="radio-button__input2"
            type="radio"
            [(ngModel)]="benificiaryExists"
            value="yes"
            (change)="toggleVisibilityOfTextFields()"
            checked
          />
          <label
            for="radioChooseExistingBenificiary"
            class="radio-button__label"
          >
            <span class="radio-button__custom"></span>

            Sélectionner un bénéficiaire existant :
          </label>
        </div>

        <div class="paste-button mx-auto">
          <button
            class="button disabled:opacity-30"
            [disabled]="disableDropDownChooseBenificiary"
            (click)="toggleDropdown()"
          >
            Choisir un bénéficiaire &nbsp; ▼
          </button>
          <div class="dropdown-content" [ngClass]="{ active: isDropdownOpen }">
            <!-- <a id="top" href="#">bénéficiaire 1</a>
            <a id="middle" href="#">bénéficiaire 2</a>
            <a id="bottom" href="#">bénéficiaire 3</a> -->
            <a
              *ngFor="
                let benificiary of Beneficiaries;
                let first = first;
                let last = last
              "
              [id]="first ? 'top' : last ? 'bottom' : 'middle'"
              (click)="selectBenificiary(benificiary)"
            >
              {{ benificiary.nom + " " + benificiary.prenom }}
            </a>
          </div>
        </div>

        <!-- ! Create New Benificary -->
        <div class="radio-button">
          <input
            name="radio-group2"
            id="radioCreateNewBenificiary"
            class="radio-button__input2"
            type="radio"
            [(ngModel)]="benificiaryExists"
            value="no"
            (change)="toggleVisibilityOfTextFields()"
          />
          <label for="radioCreateNewBenificiary" class="radio-button__label">
            <span class="radio-button__custom"></span>

            Ajouter un nouveau bénéficiaire :
          </label>
        </div>
        <div
          class="mx-auto flex flex-col justify-center items-center space-y-3"
        >
          <div
            class="flex flex-col sm:flex-row items-center justify-evenly gap-3"
          >
            <input
              type="text"
              placeholder="Nom"
              class="bg-[#fff] border border-[#b9b8b8] text-[#494949] text-sm rounded-lg focus:border-[#f94449] focus:outline-none block ps-2 pe-10 pt-3 pb-3 focus-within:shadow-lg disabled:opacity-35"
              [disabled]="disableTextFields"
              [(ngModel)]="newBenificiary.nom"
            />
            <input
              type="text"
              placeholder="Prenom"
              class="bg-[#fff] border border-[#b9b8b8] text-[#494949] text-sm rounded-lg focus:border-[#f94449] focus:outline-none block ps-2 pe-10 pt-3 pb-3 transition-colors ease duration-300 focus-within:shadow-lg disabled:opacity-35"
              [disabled]="disableTextFields"
              [(ngModel)]="newBenificiary.prenom"
            />
            <input
              type="phone"
              placeholder="Phone Number"
              class="bg-[#fff] border border-[#b9b8b8] text-[#494949] text-sm rounded-lg focus:border-[#f94449] focus:outline-none block ps-2 pe-10 pt-3 pb-3 transition-colors ease duration-300 focus-within:shadow-lg disabled:opacity-35"
              [disabled]="disableTextFields"
              [(ngModel)]="newBenificiary.phoneNumber"
            />

            <button
              class="bg-[#f94449] disabled:opacity-35 disabled:bg-opacity-35 p-3 rounded-lg text-white"
              [disabled]="disableTextFields"
              (click)="addNewBenificiary()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="h-px my-6 mx-4 bg-gray-300 border-0" />
  <!-- Part 4 -->
  <div class="flex flex-col">
    <p class="text-xl font-semibold ms-2">Vérification par SMS :</p>
    <div class="w-[75%] ms-5 mt-2">
      <p class="text-md font-light">
        Pour confirmer la transaction, cliquez sur "Envoyer" pour recevoir un
        SMS contenant un code de vérification. Entrez le code puis confirmez.
      </p>
    </div>

    <div class="flex items-center justify-center mt-4">
      <input
        type="number"
        id="simple-search"
        class="bg-[#fff] border border-[#b9b8b8] text-[#494949] text-sm rounded-s-lg focus:border-[#f94449] focus:outline-none block ps-3 pe-3 pt-3 pb-3 w-64"
        placeholder="Code de vérification"
        required
        [(ngModel)]="typedOTP"
      />

      <button
        class="bg-[#f94449] p-4 px-3 rounded-e-lg text-white"
        (click)="sendOTPToClient()"
      >
        Envoyer
      </button>
    </div>

    <div class="mx-auto mt-6">
      <button
        class="bg-[#f94449] p-4 px-7 rounded-full text-white"
        (click)="confirmTransaction()"
      >
        Confirmer
      </button>
    </div>
  </div>
</div>
